%p#notice= notice

%h3= @menu.name

-for @food in @menu.foods do
	.food-blurb.col-md-12
		%h1=@food.name
		.price=@food.price
		-for @assurance in @food.assurances do
			.assurance=@assurance.name.titleize

= link_to 'Edit', edit_menu_path(@menu)
\|
= link_to 'Back', menus_path
