%h3 Find Your Menu
-if !@suggested_orgs.nil?
  %h4 Suggested Menus
  - @suggested_orgs.each do |org|
    %a.menu-listing.col-md-3{:href => organization_path(org)}
      %span.name
        = org.name
      %br
      %span.item-count
        Foursquare Checkin
