%h3 Suggested Menus
-if !@suggested_orgs.nil?
  - @suggested_orgs.each do |org|
    %a.menu-listing.col-md-3{:href => organization_path(org)}
      %span.name
        = org.name
      %br
      %span.item-count
        Foursquare Checkin
-else
  %p Awh, you don't have any yet! Let's see if we can find some?
  = link_to "Connect with Foursquare", @authorize_url, :class => 'btn btn-wide'

