.landing-logo
  =image_tag('logo 1.png')

.form-group.landing-search.col-md-6.col-md-offset-3
  %input#orgbar.form-control{placeholder: "Search a derpage...", type: "text"}/

.landing-button-group.btn-group
  %a.btn.btn-primary.btn-wide{:href => new_user_session_path} Sign in
  %a.btn.btn-primary.btn-wide{:href => new_user_registration_path} Sign up
