.landing-logo
  =image_tag('logo 1.png')

.form-group.landing-search.col-md-6.col-md-offset-3
  %input#orgbar.form-control{placeholder: "Search a derpage...", type: "text"}/

.landing-button-group.btn-group
  %button.btn.btn-primary.btn-wide Sign up
  %button.btn.btn-primary.btn-wide Sign in
