/* Colors */
$yellow: #F1C40F;
$yellow-shadow: #F39C12;
$red: #E74C3C;
$red-shadow: #C0392B;
$light-grey: #ECF0F1;
$light-grey-shadow: #BDC3C7;
$dark-grey: #95A5A6;
$dark-grey-shadow: #7F8C8D;
$dark-blue: #34495E;
$dark-blue-shadow: #2C3E50;