@import "normalize";
@import "twitter/bootstrap";
@import "flat-ui";
@import "flatui";
@import "variables";
@import "typeahead";

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

.navbar-inverse .nav > li > a {
  border: 0;
}

.navbar-right {
  @media only screen and (max-device-width: 768px) {
    float: right;
  }
}

.navbar-inverse .nav > li > a {
  line-height: 28px;
}

  .food-blurb {
    background-color: desaturate(lighten($yellow, 30%), 5%);
    border-radius: 6px;
    padding: .5em;
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    h1 {
      font-size: 24px;
      color: $superdark-grey;
    }
    .assurance {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      background-color: darken(saturate($red-shadow, 5%), 10%);
      color: $white;
    }
    .price {
      float: right;
    }
  }

input[type="text"]:focus {
  border-color: $yellow;
}

.landing-search {
  display: block;
  position: absolute;
  top: 45%;
  margin-top: -21px;
  @include mobile-hide;
  input {
    font-size: 28px;
    line-height: 42px;
    height: 42px;
  }
}

.landing-container {
  position: relative;
  height: 100%;
}

.landing-logo {
  position: absolute;
  width: 412px;
  top: 15%;
  left: 50%;
  margin-left: -206px;
}

.escher {
  background-image: url(escheresque.png);
}

.landing-button-group {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 280px;
  margin-left: -140px;
}

.navbar-form input[type="text"] {
  width: auto;
}

[type="submit"].btn {
  margin-top: 10px;
}

header img {
  width: 250px;
  height: auto;
  margin: 10px;
}

.sign-in-up-wrapper {
  background-color: $light-grey;
  padding: 20px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  float: none;

  .sign-in-up-inner {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

a {
  color: $red-shadow;
  &:hover {
    color: desaturate(lighten($red-shadow, 20%), 5%);
  }
}

.menu-header {
  text-align: right;
  margin-top: -12px;
}

.menu-sidebar {
  background-color: $red;
  font-size: 18px;
  line-height: 48px;
  color: $white;
  font-weight: bold;
  padding: 0;
  border-radius: 6px;
  margin-bottom: 10px;
  div {
    .option {
      height: 48px;
      box-sizing: border-box;
      border-bottom: 2px $red-shadow solid;
      width: 100%;
      margin: none; 
      padding-left: 17px;
      padding-right: 17px;
      -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
      -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
      -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
      transition: background-color .25s, color .25s, border-bottom-color .25s;

      &:first-of-type {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }

      &:last-of-type {
        border-color: $red;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:hover {
        background-color: $red-shadow;
        border-color: $red-shadow;
      }

      .glyphicon {
        float: right;
        line-height: 48px;
      }

      &.active {
        background-color: $red-shadow;
        border-color: $red-shadow;
        color: $yellow;
      }
    }
  }
}

.menu-listing {
  display: block;
  background-color: $yellow;
  color: $superdark-grey;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  &:last-of-type {
    margin-right: 0;
  }
  .name {
    font-size: 22pt;
    font-weight: bold;
  }
  .item-count {
      color: saturate(darken($dark-grey-shadow, 20%), 15%);
  }
  &:hover {
    background-color: desaturate(lighten($yellow, 15%), 5%);
    color: $superdark-grey;
    .item-count {
      color: saturate(darken($dark-grey-shadow, 20%), 15%);
    }
  }

    -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
    -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
    -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
    transition: background-color .25s, color .25s, border-bottom-color .25s;
}




@media screen and (max-width: 768px) {
  .navbar-right {
    float: right;
  }
  .mobile-hide {
    display: none !important;
  }
}
