%p#notice= notice

%h3= @organization.name

-for @menu in @organization.menus do
  %a.menu-listing.col-md-3{:href => menu_path(@menu)}
    %span.name=@menu.name
    %br
    %span.item-count= pluralize(@menu.foods.all.size, 'items')

